<h1>Create Task</h1><br>
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br><br>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <br><br>
  <%= f.label :completed %>
  <%= f.text_field :completed %>
  <br><br>
  <%= f.submit %>
<% end %>
<br><br>

<%= link_to "Back to Tasks", tasks_path %>
